<header>
    <div class='container'>
        <nav>
            <ul>
                <li><%= link_to "Activity", activities_path%></li>
                <li><%= link_to "New Activity", new_activity_path%></li>
                <li><%= link_to "New Type", new_type_path%></li>
                <li><%= link_to "New Subject", new_subject_path%></li>
            </ul>
        </nav>
    </div>
</header>